@using PagedList.Mvc

@model PagedList.IPagedList<PhongKhamNhi.Models.DTO.PhieuKhamDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ThuNgan/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách phiếu khám bệnh</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-search">
            @using (Html.BeginForm("Index", "ThuNganHome", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-5">
                                <div class="">
                                    <b>Tên bênh nhi</b>
                                    <input type="text" class="form-control" name="ten" placeholder="" value="@ViewBag.ten">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <b>Dịch vụ</b>
                                    <select id="dichVu" class="form-control" name="dv">
                                        <option value="0">- Chọn dịch vụ -</option>
                                        @foreach (var item in ViewBag.ListDichVu)
                                        {
                                            if (@item.MaDV == ViewBag.dv)
                                            {
                                                <option selected value="@item.MaDV">@item.TenDV</option>
                                            }
                                            else
                                            {
                                                <option value="@item.MaDV">@item.TenDV</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <b>Bác sĩ</b>
                                    <select id="bacSi" class="form-control" name="bs">
                                        <option value="0">- Chọn bác sĩ -</option>
                                        @foreach (var item in ViewBag.ListBacSi)
                                        {
                                            if (@item.MaBS == ViewBag.bs)
                                            {
                                                <option selected value="@item.MaBS">@item.HoTen</option>
                                            }
                                            else
                                            {
                                                <option value="@item.MaBS">@item.HoTen</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <b>Trạng thái</b>
                                    <select class="form-control" name="trangThai">
                                        <option value="3">Trạng thái</option>
                                        @{ var k = "";
                                            var m = "";
                                            var h = "";
                                            if (ViewBag.trangThai == 0)
                                            {
                                                k = "selected";
                                            }
                                            else if (ViewBag.trangThai == 1)
                                            {
                                                m = "selected";
                                            }
                                            else if (ViewBag.trangThai == 2)
                                            {
                                                h = "selected";
                                            }
                                            <option @k value="0">Chưa thanh toán</option>
                                            <option @m value="1">Chờ khám</option>
                                            <option @h value="2">Đã khám</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" title="Tìm kiếm" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="~/ThuNgan/ThuNganHome" class="btn btn-default btn-pro" title="Tải lại" style="background-color: #34a544">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        Mã
                    </th>
                    <th class="text-center">
                        Thời gian lập
                    </th>
                    <th class="text-center">
                        Tên bệnh nhi
                    </th>
                    <th class="text-center">
                        Ngày sinh
                    </th>
                    <th class="text-center">
                        Dịch vụ đăng ký
                    </th>
                    <th class="text-center">
                        Đơn giá
                    </th>
                    <th class="text-center">
                        Bác sĩ
                    </th>
                    <th class="text-center">
                        Trạng thái
                    </th>
                    <th class="text-center">
                        <i class="fas fa-cogs"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.MaPhieuKB)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ThoiGianLap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.NgaySinh.ToString().Split(' ')[0])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDV)
                    </td>
                    <td class="text-right">
                        @item.DonGia.ToString("N0")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBs)
                    </td>
                    <td class="text-center">
                        @{ if (item.TrangThai == 0)
                            {
                                <p id="tt-@item.MaPhieuKB" class="pro-status ">Chưa thanh toán</p>
                            }
                            else if (item.TrangThai == 1)
                            {
                                <p id="tt-@item.MaPhieuKB" class="pro-status pro-status-finish">Chờ khám</p>
                            }
                            else
                            {
                                <p class="pro-status " style="background: #ffeb3b;">Đã khám</p>
                            }
                        }
                    </td>
                    <td class="text-center">
                        @{ if (item.TrangThai == 0)
                            {
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" id="@item.MaPhieuKB" onclick="return check(@item.MaPhieuKB)">
                                    <label class="custom-control-label" for="@item.MaPhieuKB"></label>
                                </div>
                            }
                            else if (item.TrangThai == 1)
                            {
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" checked class="custom-control-input" id="@item.MaPhieuKB" onclick="return check(@item.MaPhieuKB)">
                                    <label class="custom-control-label" for="@item.MaPhieuKB"></label>
                                </div>
                            }
                        }
                        <a href="~/ThuNgan/ThuNganHome/Print/@item.MaPhieuKB" target="_blank" title="In phiếu">
                            <i class="fas fa-print"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @ten = @ViewBag.ten, @dv = @ViewBag.dv, @bs = @ViewBag.bs, @trangThai = @ViewBag.trangThai }))
            </div>
        </div>
    </div>
</section>

@section script{
    <script>
        function check(id) {
            console.log(id);
            if (confirm("Bạn chắc chắn muốn chuyển trạng thái phiếu khám?")) {
                var tt = "#tt-" + id;
                $.ajax({
                    url: "/ThuNganHome/ChangeStatus",
                    dataType: "json",
                    data: {
                        id: id
                    },
                    success: function (res) {
                        if ($(tt).hasClass("pro-status-finish")) {
                            $(tt).removeClass("pro-status-finish");
                            $(tt)[0].innerText = "Chưa thanh toán";
                        }
                        else {
                            $(tt).addClass("pro-status-finish");
                            $(tt)[0].innerText = "Chờ khám";
                        }
                    }
                });
                return true;
            }
            return false;
        }

    </script>
}