@using PagedList.Mvc

@model PagedList.IPagedList<PhongKhamNhi.Models.Entities.HoaDonBanThuoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NvBt/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách hóa đơn thuốc</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-search">
            @using (Html.BeginForm("Index", "NvBtHome", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2">
                                <div class="">
                                    <b>Mã hóa đơn</b>
                                    <input type="text" class="form-control" name="maPk" value="@ViewBag.maHd">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <b>Tên khách hàng</b>
                                    <input type="text" class="form-control" name="ten" value="@ViewBag.ten">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <b>Từ ngày</b>
                                    <input type="date" class="form-control" name="tu" value="@ViewBag.tu">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <b>Đến ngày</b>
                                    <input type="date" class="form-control" name="den" value="@ViewBag.den">
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" title="Tìm kiếm" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="~/NvBt/NvBtHome" class="btn btn-default btn-pro" title="Tải lại" style="background-color: #34a544">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @using (Html.BeginForm("Index", "NvBtHome", FormMethod.Post, new { }))
        {
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="~/NvBt/NvBtHome/Create" class="create-new">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </a>
                        <button type="submit" class="btn-delete" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                            <i class="fa fa-trash-alt"></i>
                            Xóa
                        </button>
                    </div>
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @maHd = @ViewBag.maPk, @ten = @ViewBag.ten, @tu = @ViewBag.tu, @den = @ViewBag.den }))
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" id="checkBoxAll" />
                        </th>
                        <th class="text-center">
                            Mã hóa đơn
                        </th>
                        <th class="text-center">
                            Thời gian lập
                        </th>
                        <th class="text-center">
                            Tên khách hàng
                        </th>
                        <th class="text-center">
                            Số điện thoại
                        </th>
                        <th class="text-center">
                            Địa chỉ
                        </th>
                        <th class="text-center">
                            Tổng tiền
                        </th>
                        <th class="text-center">
                            Trạng thái
                        </th>
                        <th class="text-center">
                            <i class="fas fa-cogs"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @{ if (item.TrangThai == false)
                                    {
                                        <input type="checkbox" class="checkBoxId" value="@item.MaHoaDon" name="checkBoxId" />
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.MaHoaDon)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.ThoiGian)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenKH)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Sdt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td class="text-right">
                                @item.TongTien.ToString("N0")
                            </td>
                            <td class="text-center">
                                @{ if (item.TrangThai == false)
                                    {
                                        <p class="pro-status ">Chưa thanh toán</p>
                                    }
                                    else
                                    {
                                        <p class="pro-status pro-status-finish">Đã thanh toán</p>
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @{ if (item.TrangThai == false)
                                    {
                                        <a href="~/NvBt/NvBtHome/Edit/@item.MaHoaDon" title="Sửa">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                        </a>
                                        <a href="~/NvBt/NvBtHome/Delete/@item.MaHoaDon" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                            <i class="fas fa-trash-alt" style="color:red;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="~/NvBt/NvBtHome/Print/@item.MaHoaDon" target="_blank" title="In hóa đơn">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @maHd = @ViewBag.maPk, @ten = @ViewBag.ten, @tu = @ViewBag.tu, @den = @ViewBag.den }))
            </div>
        </div>
    </div>
</section>

@section script{
    <script>
        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.checkBoxId').prop('checked', true);
                else
                    $('.checkBoxId').prop('checked', false);
            });
        });

    </script>
}