@using PagedList.Mvc

@model PagedList.IPagedList<PhongKhamNhi.Models.Entities.BacSi>

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image" style="background-image: url(/Content/assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Bác sĩ</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Đội ngũ bác sĩ</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
                            <div class="card-doctor">
                                <div class="header">
                                    <img src="/Content/assets/img/doctors/@item.Anh" alt="">
                                    <div class="meta">
                                        <a href="#"><span class="mai-call"></span></a>
                                        <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="text-xl mb-0">@item.HoTen</p>
                                    <span class="text-sm text-grey">@item.HocVi</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div style="text-align:center;">
                    @Html.PagedListPager(Model, PageNum => Url.Action("Doctors", new { PageNum }))
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->

<div id="appointment" class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Đặt lịch hẹn khám</h1>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "main-form" }))
        {
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 fadeInLeft">
                    <label>Họ tên bệnh nhi</label>
                    <input type="text" name="ten" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight">
                    <label>Chi nhánh đăng ký hẹn khám</label>
                    <select name="cn" id="chiNhanh" class="custom-select">
                        @foreach (var item in ViewBag.ListChiNhanh)
                        {
                            <option value="@item.MaChiNhanh">@item.DiaChi</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInLeft" data-wow-delay="300ms">
                    <label>Ngày sinh</label>
                    <input type="date" name="ns" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight">
                    <label>Bác sĩ hẹn khám</label>
                    <select name="bs" id="bacSi" class="custom-select">
                        <option value="">-- Chọn bác sĩ --</option>
                        @foreach (var item in ViewBag.ListBacSi)
                        {
                            <option value="@item.MaBS">@item.HoTen</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInLeft" data-wow-delay="300ms">
                    <label>Số điện thoại thân nhân</label>
                    <input type="text" name="sdt" class="form-control" required="required">
                </div>
                <div class="col-12 col-sm-6 py-2 fadeInRight" data-wow-delay="300ms">
                    <label>Thời gian hẹn</label>
                    <input type="datetime-local" name="tgHen" class="form-control" required="required">
                </div>
                <div class="col-12 fadeInUp" data-wow-delay="300ms">
                    <label>Lời nhắn</label>
                    <textarea name="message" id="message" class="form-control" rows="3" placeholder="Lời nhắn đến phòng khám.." style="max-width: inherit;"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Gửi yêu cầu</button>
        }
    </div>
</div> <!-- .page-section -->


@section scripts{
    <script>
        $(document).on('change', '#chiNhanh', function () {
            var cn = $(this).val();
            console.log(cn);

            $("#bacSi").load("/Home/LoadBacSi",
                { "cn": cn }, function (data) {

                });

        });
    </script>
}