@model List<PhongKhamNhi.Models.DTO.KqXnDTO>

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Content/dist/css/adminlte.min.css">
    <!-- css_custom -->
    <link href="~/Areas/Content/css_custom_admin.css" rel="stylesheet" />
    <style>
        .table-sign, .table-sign tr, .table-sign td {
            border: none;
        }

            .table-sign th {
                border: none;
                background-color: #e9ecef00;
            }

            .table-sign.table-infor td {
                vertical-align: top !important;
            }
    </style>
</head>
<body style="padding: 50px 100px;">
    <section class="content" style="width: 1200px; margin: auto;">
        <div class="row">
            <div class="col-12">
                <h2><b>PHÒNG KHÁM NHI MTA</b></h2>
                <p>Địa chỉ: @ViewBag.cn</p>
                <p>Điện thoại: 1900 1009</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>PHIẾU ĐĂNG KÝ XÉT NGHIỆM</h1>
                    <p>Mã phiếu: @ViewBag.PhieuDkXn.MaPhieuDKXN</p>
                    <p>Ngày: @ViewBag.ngay</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sign table-infor">
                    <tbody>
                        <tr>
                            <td style="width: 200px;">
                                <p>Theo phiếu khám bệnh:</p>
                                <p>Họ tên bệnh nhi:</p>
                                <p>Ngày sinh:</p>
                                <p>Giới tính:</p>
                                <p>Địa chỉ:</p>
                            </td>

                            <td>
                                <p>@ViewBag.Pk</p>
                                <p>@ViewBag.BenhNhi.HoTen</p>
                                <p>@ViewBag.BenhNhi.NgaySinh.ToString().Split(' ')[0]</p>
                                <p>@ViewBag.BenhNhi.GioiTinh</p>
                                <p>@ViewBag.BenhNhi.DiaChi</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-order">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>Tên xét nghiệm</th>
                            <th class="text-center">Trị số bình thường</th>
                            <th class="text-center">Kết quả</th>
                            <th class="text-center">Đơn vị tính</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td class="text-center">
                                    @(i + 1)
                                </td>
                                <td>@Model[i].TenXN</td>
                                <td class="text-center">@Model[i].TriSoBinhThuong</td>
                                <td class="text-center">@Model[i].KetQua</td>
                                <td class="text-center">@Model[i].DonViTinh</td>
                            </tr>
                            }
                    </tbody>
                    
                </table>
            </div>
            <!-- /.col-->
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sign">
                    <tbody>
                        <tr>
                            <td class="text-center" style="opacity:0;">
                                <b>Khách hàng</b>
                                <p>(Ký, họ tên)</p>
                            </td>
                            <td>
                            </td>
                            <td class="text-center">
                                <b>KTV xét nghiệm</b>
                                <p>(Ký, họ tên)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>

